<p id="notice"><%= notice %></p>

<h1><%= _('Artículos') %></h1>

<table>
  <thead>
    <tr>
      <th><%= _('Título') %></th>
      <th><%= _('Contenido') %></th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= article.slug %></td>
        <td><%= link_to _('Ver'), article %></td>
        <td><%= link_to _('Editar'), edit_article_path(article) %></td>
        <td><%= link_to _('Eliminar'), article, method: :delete, data: { confirm: _('Estás seguro?') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to _('Nuevo Artículo'), new_article_path %>
