<p id="notice"><%= notice %></p>

<p>
  <strong><%= _('Título') %>:</strong>
  <%= @article.title %>
</p>

<p>
  <strong><%= _('Contenido') %>:</strong>
  <%= @article.body %>
</p>

<%= link_to _('Editar'), edit_article_path(@article) %> |
<%= link_to _('Regresar'), articles_path %>
