<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      Lenguaje actual: <%= I18n.locale %> 
      <%= link_to("Cambiar a inglés", root_en_path) if I18n.locale != :en %>
      <%= link_to("Cambiar a español", root_es_path) if I18n.locale != :es %>
    </p>
    <%= yield %>
  </body>
</html>
